.page-on-click{
    .wrapper-whole{
        display: flex;
        margin-left: 100px;
        .texts-wrapper{
            width: 30%;
            margin: auto;
            .text-onclick1{
                font-size: 40px;
                font-weight: bolder;
                color: var(--color-text-pink);
            } 
            .text-onclick2{
                font-size: 16px;
                color: var(--color-text-pink-second);

            }
            .text-onclick3{
                font-size: 16px;
                color: var(--color-display-pink); 
            }
        }
        .vist-icon{
            margin: auto;
            img{
                animation: vistapp-icon 3s ease-in-out 0.5s infinite alternate;
            }
        }
        .mobile-image{
            margin: auto;
            img{
                animation: mobile-pic 3s ease-in-out 0.5s infinite alternate;
            }
        }
    }
}


@keyframes vistapp-icon {
    to{
        transform: translateX(30%);
    }
}
@keyframes mobile-pic{
    to{
        transform: translateY(10%);
    }
}