.projects-back-first{
    position: relative;
    background-image: url(../../assets/image/woman.png);
    background-size: contain;
    background-repeat: round;
    height: 100%;
    cursor: pointer;
    animation: enterBackImage 0.6s ease-in-out normal;
}
@keyframes enterBackImage {
    from {left: -100%;}
    to {left: 0%;}
  }

 