/* 
  ---INDEX
    1. Page Layout 
    2. Font Styles
*/
/*  ====================
      1. Page Layout
    ====================*/

    .half-background{
      height: 47vh;  
      background-color: var(--color-black-shade);
    
      display: flex;
      align-items: center;
    }
    
    .bottom-half{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 53vh;
    
      .imagotype{
        width: auto;
        max-height: 115px;
      }
    }
    
    /*  ====================
          2. Fonts Styles
        ====================*/
    
    .display-text{
      font-size: 8em;
      text-transform: uppercase;
      font-weight: 800;
    }
    
    .homepage-contact-display-text{
      color: var(--color-black);
      overflow: hidden;
      white-space: nowrap;
    }
    
    .subtitle{
      font-size: 32px;
      letter-spacing: 1px;
    }