$primary-back-color: #14161A !default;

body {
  margin: 0;
  // font-family: 'Roboto';
  background: $primary-back-color;
  display: flex; // To center the carousel vertically in the viewport
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.carousel{
  left: 15%
}

.carousel-img{
  width: 232px;
  height: 288px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #000000B3;
}
.container{
  width: 100%;
  background: $primary-back-color 0% 0% no-repeat padding-box;
}