.p-list-identifyimg{
    margin-top: 6vh;
    margin-bottom: 6vh;
    img{
        &:hover{
            background-color: rgba(0,0,0, 0.1);
        }
    }
}
.projectlists{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    .p-list-texts{
        margin-top: 20vh;
        grid-column: span 5;
        padding-left: 136px;
        padding-right: 52px;
        .p-list-title{
            font-size: 60px;
            font-family: "Granite";
            color: var(--color-display-pink);
        }
        .p-list-description{
            padding-top: 6vh;
            color: var(--color-text-pink-second);
        }
        .p-list-question{
            padding-top: 6vh;
            color: var(--color-yellow);
            font-size: 40px;
            font-weight: bolder;
        }
        .p-list-button{
            padding-top: 6vh;
            .button{
                img{
                    width: 120px;
                }
            }
        }
    }
    .p-list-image-col-1{
        grid-column: span 3;
        padding-left: 50px;
    }
    .p-list-image-col-2{
        grid-column: span 3;
        padding-left: 30px;
    }
    .p-list-yearnavbar{
        grid-column: span 1;
    }
}

