@import "../../utilities/variables-&-fonts.scss";

.projects-back-second{
    position: relative;
    background-image: url(../../assets/image/29k_Web.png);
    background-size: contain;
    background-repeat: round;
    height: 100%;
    cursor: pointer;
    animation: enterBackImg2 0.6s ease-in-out normal;
}
@keyframes enterBackImg2{
    from{left: -100%;}
    to{left: 0%;}
}  
    
 